<app-navbar></app-navbar>
<main class="container fluid p-0">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let data of bannerImg; let i = index"
          [class.active]="i === 0"
        >
          <img src="{{data.img}}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 text-center" *ngFor="let data of getCategoriesData">
          <a>
            <img src="{{data.img}}" alt="{{data.name}}">
            <h4>{{data.name}}</h4>
          </a>
        </div>
      </div>
    </div>
    
  </main>
  